@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 20px 20px 60px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f9fafb;
}

/* Input için klasik CSS */
input {
  padding: 1%;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 6px;
  width: 100%;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  margin-bottom:1%;
  box-sizing: border-box;
}

input:focus {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* blue ring */
}

.btn-add{
    color:white;
    background-color: #3b82f6;
    width: 100%;
    padding:1%;
    border-radius: 6px;
    border: 1px solid #d1d5db; 
}

.card-out{
    padding:2%;
}
.card-inner{
    border-radius: 10px;
    border: 3px solid rgb(212, 16, 16);
    padding:1%;
    width: 96%;
    margin: 1%;
    background-color: #ff0000a6;

}
.card-done{
    border: 3px solid rgb(1, 197, 43);
    background-color: #32d315;
}
.card-inner h5,
.card-inner p{
    color:white;
}


.not-done{
    color: #fff;

    background-color: #d41010;
    border: 2px solid #d41010;
    border-radius: 6px;
    padding: 1%;
    margin: 1% 1% 2% 1%;
}

.done{
    color: #fff;

    background-color: rgb(1, 197, 43);
    border: 2px solid rgb(1, 197, 43);
    border-radius: 6px;
    padding: 1%;
    margin: 1% 1% 2% 1%;

}
.mtop{
    margin-top:2%;
}
input[type="checkbox"]{
    width: 3%;
}

.lower-button{
    width: 47%;
    padding:1% 2%;
    color:white;
    background-color: rgb(106, 78, 151);
    border: 2px solid rgb(106, 78, 151);
    text-align: center;
    border-radius: 4px;
    margin-left: 2%;
}
.delete-button{
    background-color: #727174;
    border: 2px solid #727174;
}